/public/app-assets/Archivos_Contenidos
/public/app-assets/Archivos_Docente
/public/app-assets/Archivos_EvalTaller_Resp
/public/app-assets/Archivos_EvaluacionTaller
/public/app-assets/ArchivosEstudiantes
/public/app-assets/Contenido_Didactico
/public/app-assets/Contenido_Didactico_ME
/public/app-assets/Contenido_DidacticoModulos
/public/app-assets/Contenido_Laboratorio
/public/app-assets/Evaluacion_PregDidact
/public/app-assets/VideoTutorial
/public/app-assets/Video_Tema_ModuloE