canvas {
  background-color: #fff;
  display: block;
  margin: auto;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  cursor: crosshair;
  /* Cambia el cursor a una cruz cuando se mueve sobre el canvas */
}

.axis-label {
  position: absolute;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  pointer-events: none;
  /* Evita que los eventos de ratón se disparen en las etiquetas */
}

.x-label {
  top: 204pt;
  left: 504pt;
  color: red;
  font-size: 30px;
  font-weight: bold;
}

.y-label {
  top: -19pt;
  left: 300pt;
  transform: translate(-50%, 50%);
  color: red;
  font-size: 30px;
  font-weight: bold;
}

.principal {
  width: 100%;
  height: 100%;
}

body {
  background: url(fondo.png);
  background-size: 100% 100%;
  background-position: center center;
  background-attachment: fixed;
  color: #fff;
  color: #262626;
  overflow-x: hidden;
}

html,
body {
  height: 100%;
}

.btn-danger,
.btn-warning {
  width: 70px;
  height: 70px;
  font-size: 31px;
  border-radius: 50%;
  border: 4px solid white;
  margin-right: 9px;
}

.btn-warning {
  border-color: #000;
}

.overlay {
  background-image: url(../../images/normal1.gif);
  background-size: 90% 100%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 1000;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  position: fixed;
  left: -200px;
  /* Empieza fuera de la pantalla */
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

.overlay::before {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  content: url("../../images/normal1.gif") url("../../images/normal2.gif")
}

@keyframes moverDerecha {
  from {
    left: -100%;
    opacity: 0;
  }

  to {
    left: 0;
    opacity: 1;
  }
}

@keyframes moverIzquierda {
  from {
    left: 0;
    opacity: 1;
  }

  to {
    left: -100%;
    opacity: 0;
  }
}

.borde2 {
  text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
    1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
  font-weight: bold;
  color: #fff !important;
  font-size: 19px;
}

#bienvenida {
  width: 55%;
  padding-left: 40pt;
  font-size: 20px !important;
  text-align: justify;
}

.nube {
  background-image: url(../../images/nube.png);
  background-size: 100% 100%;
  width: 558pt;
  height: 456pt;
  position: absolute;
  z-index: 1000;
  bottom: -362pt;
  left: 422pt;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  animation-duration: 2.8s;
  animation-fill-mode: forwards;
}

@keyframes moverArriba {
  from {
    bottom: -362pt;
    opacity: 0;
  }

  to {
    bottom: 147pt;
    opacity: 1;
  }
}
.borde{
  text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
  1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
color: #fff;
}

.overlay .btn-warning {
  padding: 16px 20px;
  border-radius: 3px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
}

.overlay .btn-warning:hover {
  color: #fff !important;
}

.overlay .btn-warning:hover i {
  color: #fff !important;
}

.overlay .btn-warning::after {
  content: "";
  background: #4195d1;
  color: #fff !important;
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.3s ease;
}

.overlay .btn-warning:hover::after {
  transition: all 0.3s ease-out;
  transform: skewX(-45deg) scale(1, 1);
}

@keyframes moverabajo {
  from {
    bottom: 147pt;
    opacity: 1;
  }

  to {
    bottom: -362pt;
    opacity: 0;
  }
}

.final {
  background-size: 45%;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.904);
}

.overlay .btn-warning {
  padding: 16px 20px;
  border-radius: 3px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
}

.overlay .btn-warning:hover {
  color: #fff !important;
}

.overlay .btn-warning:hover i {
  color: #fff !important;
}

.overlay .btn-warning::after {
  content: "";
  background: #4195d1;
  color: #fff !important;
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.3s ease;
}

.overlay .btn-warning:hover::after {
  transition: all 0.3s ease-out;
  transform: skewX(-45deg) scale(1, 1);
}

.swal2-html-container {
  overflow: hidden;
}

.swal2-modal {
  width: 50% !important
}

.punto {
  padding: 40px;
}

.nube2 {
  background-image: url(../../images/nube.png);
  background-size: 100% 157%;
  background-position-y: center;
  width: 68%;
  height: 60%;
  position: absolute;
  z-index: 1000;
  bottom: 53%;
  left: 26%;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  animation-duration: 2.8s;
  animation-fill-mode: forwards;
}

.overlay2 {
  background-image: url(../../images/normal1.gif);
  background-size: 125%;
  left: 0;
  width: 90%;
  height: 364pt;
  opacity: 1;
  z-index: 1000;
  background-repeat: no-repeat;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  background-position-x: center;
}

.overlay2::before {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  content: url("../../images/normal1.gif") url("../../images/normal2.gif")
}

body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgb(190, 190, 190);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(128, 128, 129);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid rgb(190, 190, 190);;  /* creates padding around scroll thumb */
}